require_login

<h1>All Users</h1>
<%# binding.pry %>
<h2> "Welcome, <%= current_user.name %>!" </h2>

<%= link_to "See All Users Created Today", "users/created_today" %>
<br><br>

<% @users.each do |user| %>
  <br>Name: <%= link_to user.name, user_path(user) %><br><br>
  <% if user.comments.count > 0 %>
  Comments by <%= user.name %>:<br>
  <% user.comments.each do |comment| %>
  <%# binding.pry %>
  <%= link_to comment.title, comment_path(comment) %> <br>
  <% end %>
<% end %>

<% end %>

<!--
# review the bcrypt section and make sure i have all the code
# then think about the facebook not sending a password thing
# spend a half hour reading about devise, see if the gem and the engine makes sense. devise hs bcrypt inside it. if it
<!-- makes sense consider going with it  -->
