<h1>Welcome, <%= @user.name.capitalize %>.<br><br> </h1>
<!-- Admin? <%#= @user.admin %> -->
<h2> Your Posts: </h2>
<% @user.posts.each do |post| %>
<%= link_to post.title, post_path(post) %><br>
<% end %>
<br>
<h2> Your Commented Posts: </h2>
<% @user.commented_posts.each do |commented_post| %>
<%= link_to commented_post.title, post_path(commented_post) %><br>
<% end %>
<br>

<br>
<h2>Your Comments: </h2> <% @user.comments.each do |comment| %>
<%= link_to comment.title, comment_path(comment) %><br>
<%= comment.content %><br><br>
<% end %>
<br><br>
<h2> Options: </h2>
<%= link_to("Back to Users Main?", users_path) %>
<br><br>
<%= link_to 'Delete your account?', @user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete Account" %>
