

<h1> Here Are All Requested Posts! </h1>
<h2> <%= link_to "Or Click Here to Make a New Post", new_post_path %>  </h2>

<% @posts.each do |post| %>

Post Title: <%= link_to post.title, post_path(post) %><br>
Post Content: <%= post.content %><br>
Post ID: <%= post.id %><br>

  <% if post.comments.count > 0 %>
    <% post.comments.each do |comment| %>
    Comment Title: <%= link_to comment.title, comment_path(comment) %><br>
    <% end %>
  <% end %>

<br><br>


<% end  %>
