Post Title: <%= @post.title %><br>
Post Content: <%= @post.content %>
<br>




<p>Comments:</p>
<% @post.comments.each do |comment| %>
  <div><%= link_to comment.title, comment_path(comment) %></div>
<% end %>

<br>
<br>
<h2> <%= link_to "Make a new comment on this post?", new_post_comment_path(@post) %> </h2>

<% if @post.user == current_user %>
<h2> <%= link_to 'Delete this post?', @post, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@post.title}" %> </h2>
<% end %>
