<h1>Post: <%= @post.title %><br> </h1>
Post Content: <%= @post.content %>
<br>



<h1>Comments: </h1>
<% @post.comments.each do |comment| %>
  <div><%#= link_to comment.title, comment_path(comment) %></div>
  <div> Title: <%=  comment.title %> </div>
  <div> Content: <%= comment.content %>  </div>
  <br>
<% end %>

<br>
<br>
<h2> <%= link_to "Make a new comment on this post?", new_post_comment_path(@post) %> </h2>

<% if @post.user == current_user %>
<h2> <%= link_to 'Delete this post?', @post, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{@post.title}" %> </h2>
<% end %>
