<!DOCTYPE html>
<html>
  <head>
    <title>Railsapp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">


       <ul class="nav_links">
          <% if current_user %>
            <li><%=link_to "Profile", user_path(current_user.id) %></li>
            <li><%=link_to "Users", users_path %></li>
            <li><%=link_to "Posts", posts_path %></li>
            <li><%=link_to "Sign Out", signout_path %></li>
          <% else %>
            <li><%=link_to "Home", root_path%></li>
            <li><%=link_to "Sign In", signin_path %></li>
            <li><%=link_to "Create Account", new_user_path %></li>
          <% end %>
        </ul>


      </div>
    </div>
  </header>



    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
